@model The_complex_of_testing_hash_functions.Models.HashFunction

@{
    ViewData["Title"] = "Детали хеш-функции";
}

<h1>Детали хеш-функции</h1>

<table class="table">
    <tr>
        <th>ID:</th>
        <td>@Model.Id</td>
    </tr>
    <tr>
        <th>Название:</th>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <th>Алгоритм:</th>
        <td>@Model.AlgorithmType</td>
    </tr>
    <tr>
        <th>Описание:</th>
        <td>@(string.IsNullOrEmpty(Model.Description) ? "Нет описания" : Model.Description)</td>
    </tr>
</table>

<a asp-action="Index" class="btn btn-primary">Назад</a>
<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Редактировать</a>
